extends ../layout

include ../mixins/_productCard

block content

    .site-width

        p #{products.length}

        .edit-profile-form

            .profile-data
                h1 #{prettyName}
                    if user._id.equals(displayUser._id)
                        a.edit-profile(href="#0") (edit my profile)

                ul
                    li 
                        a(href=`mailto:${displayUser.email}`) #{displayUser.email}
                    li
                        a(href=`tel:${displayUser.phone_number}`) #{displayUser.phone_number}

            .profile-pic
                img(src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/v1522413167/${displayUser.profile_photo}.jpg`, alt=`Your Profile Photo`)

        ul.product-list
            each product in products
                +productCard(product)