include mixins/_head

+head()
        
body(class=`${bodyClass || ''}`)

  div(id=`${vueID || ''}`)
  
    block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash--text!= message
                button.flash--remove(onClick="this.parentElement.remove()")
                  != h.icon('close')

    block header
      header.site-header
        .site-width
          a(href="/")
            img.site-logo(src="/images/gfp-logo.svg", alt="GreenFarmParts")
          nav
            ul
              li
                form(action="/search" method="GET")
                  input(type="search" name="q" placeholder="Search for product" v-model="keyword" v-on:keyup="productLookup")
              li.sub-menu-button
                button Edit
                ul.sub-menu
                  li
                    a(href="/add") Product
                  li
                    a(href="/user/new") User
              li.sub-menu-button
                button Add
                ul.sub-menu
                  li
                    a(href="/add") Product
                  li
                    a(href="/user/new") User  
              li.sub-menu-button
                button
                  if user.profile_photo
                    img.site-header--profile-pic(src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/w_65,h_65,c_fill/v1522413167/${user.profile_photo}.jpg`, alt=`${user.first_name} ${user.last_name}`)
                  else
                    img.site-header--profile-pic(src="/images/default-user-image.png", alt="")
                ul.sub-menu
                  if user
                    li
                      a(href=`/profile/${user.first_name.toLowerCase()}-${user.last_name.toLowerCase()}`) My Profile
                    li
                      a(href="/profile/all") All Users
                    li
                      a(href="/logout") Logout

    block content

    block modals
      .modal
        .modal--close
          button.close-modal +
        .modal--body

    block footer
      footer.site-footer
        .site-width
          - let today = Date.now();
          - today = new Date(today);
          img.footer-logo(src="/images/gfp-logo.svg", alt="GreenFarmParts")
          p Copyright &copy; #{today.getFullYear()}. All Rights Reserved.

  block scripts
    script(src="/dist/App.bundle.js")