extends layout

block prepend styles
    link(rel='stylesheet', href='/dist/libs/tiny-slider.css')

block content

    - const images = product.product_image || []
    - const formattedCode = product.code.toUpperCase();

    .site-width

        .single-product-details
            .single-product-meta
                h1= formattedCode
                .single-product-creator
                    .single-product-creator--image
                        if product.creator.profile_photo
                            img(src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/w_100,h_100,c_fill/v1522413167/${product.creator.profile_photo}.jpg`, alt=`${product.creator.first_name} ${product.creator.last_name}`)
                        else 
                            img(src="/images/default-user-image.png", alt="")
                    .single-product-creator--content
                        p By: 
                            a(href=`/profile/${product.creator.first_name.toLowerCase()}-${product.creator.last_name.toLowerCase()}`) #{product.creator.first_name} #{product.creator.last_name}
                        p Created: #{h.moment(product.created_at, "YYYYMMDD").fromNow()}

            .single-product-actions
                a.btn-solid--brand(href=`http://res.cloudinary.com/dpkuo9jjc/raw/upload/v1524601962/${product.slug}.zip`) Download All Images
                ul.button-actions
                    li
                        h4 How do you need the photos?
                    li
                        form(action=`/product/${product._id}/download` method="POST")
                            .form-group
                                input(type="checkbox" id="watermarked" name="watermarked")
                                label(for="watermarked") Do you want to watermark the pictures?
                            input(type="submit")
                a.btn-outline--brand-two.edit-product(href=`/product/${product._id}/edit`) Edit Product

            form(action=`/seller-channel/${product._id}` method="POST" class="single--seller-channels")
                p #{formattedCode}'s photos are on
                - const choices = ['greenfarmparts', 'amazon', 'ebay', 'jet']
                - const seller_channels = product.seller_channels || []
                ul.added-to-selling-channels
                    each choice in choices
                        li
                            input.visually-hidden(type="checkbox" id=choice value=choice name="seller_channels" checked=(seller_channels.includes(choice)))
                            label(for=choice) #{choice.toUpperCase()}
                    li
                        input(type="submit" value="Update")

        
        hr

        .single-product-photos

            each image, index in images
                .modal-image(data-index=`${index}`)
                    img.individual-image(src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/v1522413167/${image}.jpg`, alt="")
                    ul.photo-actions
                        li
                            button.view-photo(data-id=`${image}`)
                                img(src="/images/icons/search.svg", alt="Zoom Photo") 
                                span Zoom
                        li
                            a.download-photo(href=`https://res.cloudinary.com/dpkuo9jjc/image/upload/v1522413167/${image}.jpg` download)
                                img(src="/images/icons/download.svg", alt="")
                                span Download

        hr
        
        if fitment
            .part-fitment
                .part-fitment--actions
                    h2 Product Fitment
                    button.btn-outline--brand-two Copy - Pipe Seperated
                    button.btn-outline--brand-two Copy - Comma Seperated
                ul.part-fitment--list
                    each model in fitment
                        li.part-fitment--item #{model}

    //- .site-width

        h1 #{formattedCode}
        
        if product.creator
            p Created by: 
                a(href=`/profile/${product.creator.first_name.toLowerCase()}-${product.creator.last_name.toLowerCase()}`) #{product.creator.first_name} #{product.creator.last_name}
            if product.creator.profile_photo
                img.product-creator-image(src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/w_65,h_65,c_fill/v1522413167/${product.creator.profile_photo}.jpg`, alt=`${product.creator.first_name} ${product.creator.last_name}`)
            else
                img.product-creator-image(src="/images/default-user-image.png", alt="")
        
        if product.created_at
            p Created #{h.moment(product.created_at).fromNow()}

        a.edit-product(href=`/product/${product._id}/edit`) Edit Product
        button.download-product Download All Images
        ul.button-actions
            li
                h4 How do you need the photos?
            li
                form(action=`/product/${product._id}/download` method="POST")
                    .form-group
                        input(type="checkbox" id="watermarked" name="watermarked")
                        label(for="watermarked") Do you want to watermark the pictures?
                    input(type="submit")


        .strip

            each image, index in images
                .modal-image(data-index=`${index}`)
                    img.individual-image(src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/v1522413167/${image}.jpg`, alt="")
                    ul.photo-actions
                        li
                            button.view-photo(data-id=`${image}`)
                                img(src="/images/icons/search.svg", alt="Zoom Photo") 
                                span Zoom
                        li
                            a.download-photo(href=`https://res.cloudinary.com/dpkuo9jjc/image/upload/l_overlay/v1522413167/${image}.jpg` download)
                                img(src="/images/icons/download.svg", alt="")
                                span Download


block modals
  .modal
    .modal--close
      button.close-modal +
    .modal--body(tabindex="0")
        each image in images
            img(src=`https://res.cloudinary.com/dpkuo9jjc/image/upload/v1522413167/${image}.jpg`)

block append scripts
    script(src="/dist/libs/tiny-slider.js")
    script(src="/dist/libs/atomic.js")
    script(src="/javascripts/pages/singleProduct.js")